@media only screen and (max-width:1700px) {
    .hero-service-cards {
        margin-top: 70px
    }
}

@media(min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px
    }
}

@media only screen and (max-width:1583px) {
    .hero-service-cards {
        margin-top: 90px
    }

    .hero-heading-sec > p {
        margin: 30px 0
    }

    .image-sr-mm {
        height: 200px;
        width: 100%
    }

    .hero-heading-sec h2 {
        font-size: 45px;
        line-height: 57px
    }

    .hero-card-web {
        padding-top: 120px;
        padding-bottom: 100px;
        height: 780px
    }

    .hero-main-rp {
        padding: 0 80px
    }

    .hero-section {
        padding-top: 100px;
        padding-bottom: 100px;
        height: 680px
    }

    .hero-service-cards {
        margin-top: 50px
    }

    .header-heading h1 {
        font-size: 35px;
        line-height: 50px
    }

    .business-startup {
        background-size: cover
    }

    .btn-main {
        display: inline-flex;
        justify-content: center;
        white-space: nowrap;
        align-items: center
    }

    .hero-card-web {
        min-height: 780px;
        height: auto
    }
}

@media only screen and (max-width:1150px) {

    .priceodernow,
    .pricingfooter {
        flex-direction: column;
        grid-gap: 15px
    }

    .mouse-cursor {
        display: none
    }

    ::-webkit-scrollbar {
        width: 4px
    }

    ::-webkit-scrollbar-track {
        background: #0d0c40
    }

    .service-sec-list h5 {
        font-size: 15px;
        line-height: 24px
    }

    .-service-list li a {
        font-size: 11px
    }

    .-service-list li {
        padding: 0 3px
    }

    .custom-nav .nav-list {
        display: none
    }

    .header-heading h1 {
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 45px;
        line-height: 57px
    }
}

@media only screen and (max-width:991px) {
    .niwax-company-awards {
        grid-template-columns: 100%
    }

    .order1 {
        order: 1
    }

    .order2 {
        order: 2
    }

    .companyawards {
        margin-top: 40px
    }

    .companytime p {
        color: #050748
    }

    .companytime {
        background: 0 0
    }

    .filter-menu {
        margin-top: 30px;
        white-space: nowrap;
        overflow: auto
    }

    .sliderset-nx {
        grid-template-columns: auto;
        grid-gap: 30px
    }

    .contact-block-btm {
        padding: 30px;
        margin-left: 0;
        margin-top: 50px
    }

    .pr--100 {
        padding-right: 0
    }

    .pl--100 {
        padding-left: 0
    }

    .pl--50 {
        padding-left: 0
    }

    .pr--50 {
        padding-right: 0
    }

    .dg-hero-img0 {
        transform: translateZ(0);
        margin-top: 30px
    }

    #testimonials-avatar {
        text-align: center
    }

    .dot-c1 {
        position: inherit;
        width: 120px;
        height: 120px;
        border-radius: 100px;
        border: 0;
        margin: 8px
    }

    #testimonials-avatar {
        margin-top: 30px
    }

    .itm-media-object {
        text-align: left
    }

    .ag-dg2 {
        border-radius: 8px 8px 50px 8px;
        right: 0
    }

    .ag-dg1 {
        border-radius: 8px 8px 8px 50px;
        left: 0
    }

    .shpdez2 {
        width: 60px;
        height: 60px
    }

    .img-block-ca2 .abt-ca2 {
        border-radius: 50px 0 50px 0;
        position: relative;
        z-index: 5;
        width: 90%
    }

    .img-block,
    .service-sec-brp,
    .service-sec-list {
        margin-top: 30px
    }

    .client-logoset {
        padding: 0 15px
    }

    .about-sec-app .text-l {
        text-align: center !important
    }

    .cta-card {
        text-align: center
    }

    .onloadpage .pre-text- {
        width: 88%
    }

    .video-intro-pp {
        margin-top: 20px;
        text-align: center
    }

    .mr25 {
        margin-right: 0
    }

    .portfolio-block {
        padding: 20px;
        display: block
    }

    .portfolio-item-info {
        width: 100%;
        padding-right: 0
    }

    .portfolio-item-image {
        width: 100%;
        text-align: center;
        margin-top: 30px
    }

    .portfolio-item-info .reviews-card {
        padding: 20px
    }

    .servie-key-points {
        margin-top: 30px
    }

    .service-desc- {
        text-align: center
    }

    .m-mt50 {
        margin-top: 50px
    }

    .m-mt30 {
        margin-top: 30px
    }

    .main-header.sticky {
        height: 65px
    }

    .main-header.sticky .dsk-logo {
        line-height: 65px
    }

    .main-header.sticky .nav-brand img {
        max-height: 55px
    }

    .footer-badges- {
        margin-top: 20px
    }

    .footer-brands {
        text-align: center
    }

    .review-icons a {
        margin-top: 30px
    }

    .review-ref {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .service-sec-brp p {
        font-size: 15px;
        line-height: 24px
    }

    .m-mb30 {
        margin-bottom: 30px
    }

    .mt30- {
        margin-top: 0
    }

    .m-t-c,
    .text-l {
        text-align: center !important
    }

    .col-lg-3-cus {
        width: 50%
    }

    .col-lg-6-cus {
        width: 50%
    }

    .hero-service-cards {
        margin-top: 40px
    }

    .hero-content-sec {
        display: block;
        text-align: center;
        margin-top: 40px
    }

    .title-hero-oth p {
        font-size: 20px;
        margin: 20px 0 0
    }

    .hero-heading-sec > p {
        color: #555;
        font-size: 18px;
        max-width: 100%;
        margin: 20px 0
    }

    .hero-heading-sec {
        text-align: center
    }

    .hero-heading-sec h2 span {
        display: inline-block
    }

    .hero-card-web {
        padding-top: 150px;
        padding-bottom: 100px;
        height: auto
    }

    .breadcrumb-area {
        padding: 120px 0 60px
    }

    .common-heading h2,
    .common-heading h4,
    .common-heading > span,
    .header-heading p,
    .image-block,
    .single-image {
        text-align: center
    }

    .single-image {
        margin: 30px auto 0;
        display: block
    }

    .lead-intro- {
        margin: 30px auto 0;
        display: block
    }

    .portfolio-section:before {
        height: 300px
    }

    .wide-block:after {
        background-size: 150px;
        background-position: right bottom;
        opacity: .6
    }

    .block-space- {
        max-width: 70%
    }

    .wide-block {
        padding: 20px
    }

    .header-heading h1 {
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 38px;
        line-height: 50px;
        text-align: center
    }

    .header-heading p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 35px
    }

    .btn-main {
        width: max-content;
        margin: 0 auto;
        display: block
    }

    .btn-mains-1 {
        width: max-content;
        margin: 0 auto;
        margin-top: 10px;
        display: block
    }

    .hero-section {
        padding-top: 120px;
        padding-bottom: 80px;
        height: auto
    }

    .image-block {
        margin-bottom: 30px
    }

    .pad-tb {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .opl ul li,
    .statistics {
        margin-bottom: 30px
    }

    .statistics {
        text-align: left
    }

    .about-agency p,
    .about-image,
    .block-1 .small,
    .block-1 .statnumb,
    .common-heading.pp,
    .filter-menu,
    .in-stats .statistics .service p,
    .testimonial-card .t-text {
        text-align: center
    }

    .small {
        margin-top: 0
    }

    .small .statistics span {
        color: #050748
    }

    .statistics-img {
        width: 80px;
        height: 80px
    }

    .small .statistics-img {
        width: 80px;
        height: 80px
    }

    .icon-set,
    .opl ul li {
        width: 33.333%
    }

    .small .statistics span,
    .statistics span {
        font-size: 35px
    }

    .testinomial-section {
        background-size: 0
    }

    .img-design,
    .testimonial-card .t-text,
    .work-card-set {
        margin-top: 30px
    }

    .testinomial-section .owl-carousel .owl-dots {
        position: relative;
        width: 100%;
        text-align: center
    }

    .pl25 {
        padding-left: 0 !important
    }

    .client-thumbs {
        margin: 30px auto 0;
        display: table
    }

    .enquire-image {
        margin-top: 30px
    }

    .office-card {
        margin-bottom: 60px
    }

    .footer-social-media-icons a {
        margin: 0 10px
    }

    .block-1 .small {
        margin-top: 50px
    }

    .block-1 .statnumb {
        margin: 0
    }

    .about-image {
        margin-bottom: 30px
    }

    .ps-block {
        padding: 0;
        margin: 30px 0 0
    }

    .filter-menu,
    .m-mt30 {
        margin-top: 30px
    }

    .s-block {
        padding: 50px 15px
    }

    .itm-media-object h4 {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    .cbtn {
        position: absolute;
        left: unset;
        right: 20px;
        top: 5px
    }

    .itm-media-object .media .img-ab- {
        height: 55px
    }

    .niwax-logo-awards {
        grid-template-columns: auto auto;
        grid-gap: 30px;
        padding-bottom: 20px
    }

    h1 {
        font-size: 38px;
        line-height: 48px
    }

    h2 {
        font-size: 34px;
        line-height: 44px
    }

    h3 {
        font-size: 30px;
        line-height: 40px
    }

    h4 {
        font-size: 20px;
        line-height: 30px
    }

    h5 {
        font-size: 18px;
        line-height: 28px
    }

    h6 {
        font-size: 16px;
        line-height: 26px
    }

    p {
        font-size: 17px;
        line-height: 28px
    }

    .video-testimonial {
        display: block
    }

    .mr15 {
        margin-right: 0
    }

    .itm-media-object .media .img-ab- {
        width: 55px
    }

    .niwax {
        transform: translate3d(0, 0, 0) !important
    }

    .industry-workfor {
        padding: 15px;
        display: block;
        text-align: center;
        margin: 0 auto 15px
    }

    .industry-workfor img {
        width: 45px
    }

    .industry-workfor h6 {
        margin: 5px 0 0;
        font-size: 14px;
        line-height: 20px
    }

    .light-bgs {
        padding: 30px 0
    }

    .s-block-content-large {
        margin: 0;
        width: 100%;
        text-align: center
    }

    .s-card-icon-large {
        width: 150px;
        margin: 0 auto 20px
    }

    .wide-sblock {
        display: block;
        text-align: left;
        padding: 30px 20px
    }

    .s-block-content {
        margin: 0;
        text-align: center
    }

    .clients-logo {
        padding: 60px 15px
    }

    .cta-call a {
        font-size: 20px
    }

    .itm-media-object .media-body {
        margin-left: 15px
    }

    .footer-badges- li a img {
        width: 100%
    }

    .service-sec-list h5 {
        font-size: 18px;
        line-height: 28px
    }

    .-service-list li a {
        font-size: 13px
    }

    .-cta-btn p {
        margin: 0 0 30px;
        font-size: 25px;
        line-height: 35px
    }

    .free-cta-title {
        display: block
    }

    .col-lg-6-cus {
        width: 100%;
        text-align: center
    }

    .col-lg-3-cus {
        width: 100%;
        text-align: center
    }

    .service-slide {
        max-width: initial
    }

    .about-freelance p {
        text-align: center
    }

    .about-lead-gen p {
        text-align: center
    }

    .why-choos-lg p {
        text-align: center
    }

    .tabs-layout .nav-tabs .nav-link {
        padding: 12px 35px;
        margin: 0 auto 10px
    }

    .tabs-layout .nav-tabs .nav-item {
        margin-bottom: 5px;
        display: contents
    }

    .statistics {
        margin-bottom: 30px
    }

    .pad-tb {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .icon-set {
        width: 50%
    }

    .shape-a1 {
        bottom: -130px;
        left: -50px
    }

    .shape-a2 {
        bottom: -30px;
        right: -70px
    }

    .pr25 {
        padding-right: 0 !important
    }
}

@media(min-width:576px) {
    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto
    }
}

@media only screen and (max-width:520px) {
    .connect-block a span.small-text {
        font-size: 13px;
        letter-spacing: 0
    }

    .connect-block a span.large-text {
        font-size: 18px;
        line-height: 28px
    }

    .text-fld-nx {
        padding: 0 0 0 15px
    }

    .icon-fld-nx {
        font-size: 22px;
        margin: 0 15px 0 0
    }

    .service-point-2 li {
        float: none;
        width: 100%
    }

    .hero-heading-sec h2 {
        font-size: 35px;
        line-height: 45px
    }

    .footer-badges- {
        display: flow-root;
        justify-content: space-between
    }

    .footer-badges- li {
        display: block;
        width: 50%;
        float: left;
        padding: 0 6px
    }

    .m-pad {
        padding: 0
    }

    .main-header {
        padding: 0 15px
    }

    .title-serv-c {
        text-align: center
    }

    h1 {
        font-size: 32px;
        line-height: 42px
    }

    .bread-title h2,
    h2 {
        font-size: 26px;
        line-height: 36px
    }

    h3 {
        font-size: 24px;
        line-height: 34px
    }

    h4 {
        font-size: 20px;
        line-height: 30px
    }

    h5 {
        font-size: 18px;
        line-height: 26px
    }

    h6 {
        font-size: 16px;
        line-height: 24px
    }

    .small .statistics span,
    .statistics span {
        font-size: 30px
    }

    .shape-a1 {
        bottom: -130px;
        left: -150px
    }

    .filters .filter-menu li {
        padding: 20px 12px;
        margin-bottom: 6px
    }
}

@media only screen and (max-width:350px) {
    .header-heading h1 {
        font-size: 30px;
        line-height: 40px
    }

    h2 {
        font-size: 24px;
        line-height: 32px
    }

    .filters .filter-menu li {
        font-size: 12px
    }
}

@media only screen and (max-width:1150px) {
    .hidedesktop {
        display: block !important
    }

    .right-end-btn {
        display: flex !important
    }

    .hidemobile {
        display: none !important
    }
}

@media only screen and (max-width:767px) {
    .innerbody {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0
    }
}